@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
 }

body{
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{
    width: 50%;
}
.h11{
    font-weight: bolder;
}

.login{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 118px 20px 0 10px;
    width: 500px;
    height: 450px;
    background-color: white;
}
.free-trial{
    margin-bottom: 8px;
    width: 81%;
    color: white;
    border-radius: 6px;
    background-color: purple;
    display: flex;
    align-items: center;
    height: 40px;
}

.text-con{
    color: white;
    width: 300px;
    margin: 250px 0 0 50px;
}
.form{
    width: 405px;
}

.para{
    width: 400px;
}
.form-control{
    width: 130px;
    
}

.container{
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
    display: flex;
    height: 700px;
    width: 1200px;
}

@media (max-width: 1000px){
    .text-con{
        margin: 200px 90px 0 9px;
    }
    .para{
        width:332px;
    }
    
}
@media (max-width: 985px){
    .container{
        max-width: 900px !important;
    }

    .para{
        width: 300px;
    }
    .login{
        width: 400px;
    }
    .form{
        width: 350px;
    }
}



@media (max-width: 800px){
    .container{
        display: grid;
        width: 40vw;
        margin-bottom: 00px;
    }
    .login, .form-control{
        width: 84vw;
    }
    .login{
        height: 400px;
        margin:80px 0 5px 0 ;
    }

    .form{
        width: inherit;
    }
    .text-con{
        margin: 20px 0 10px 0;
    }

    .para {
        width: 332px;
      }
    .text{
        margin: auto;
        width: 80vw;
    }
}
